@use "tailwindcss" as *;
@import "../../index.css";

.calendar-container {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  @apply bg-[var(--color-white)];
}

.rbc-month-view,
.rbc-header + .rbc-header,
.rbc-month-row + .rbc-month-row,
.rbc-day-bg + .rbc-day-bg {
  @apply border-[var(--color-gray-300)];
}


.rbc-event, .rbc-day-slot .rbc-background-event {
  @apply text-sm bg-transparent pl-1 pr-1 pt-0 pb-0; 
}

.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  @apply bg-transparent
}


.rbc-month-view {
  // @apply bg-gray-50 border border-gray-200 rounded-lg;

  .rbc-header {
    @apply p-2 text-sm font-medium text-center border-b border-[var(--color-gray-300)];
  }

  .rbc-date-cell {
    @apply text-left pl-2 pr-2 pt-1 pb-1 text-sm h-6 flex justify-between;
  }

  .rbc-row-segment {
    @apply p-0 pb-1;
  }

  .rbc-row-bg {
    right: 0;

    .rbc-off-range-bg{
      @apply bg-[var(--color-gray-100)]
    }

    .rbc-today{
      // @apply bg-[var(--color-primary-blue-50)];
      @apply border border-[var(--color-primary-blue-300)];
      background-color: #fafcff;
    }
    
    .rbc-now {
      @apply bg-[var(--color-primary-blue-100)];
    }

    // 주말 날짜 셀 스타일
    .rbc-weekend {
      @apply bg-[var(--color-gray-100)] text-[var(--color-primary-blue-500)];
    }
    // 휴일 날짜 셀 스타일
    .rbc-holiday {
      @apply bg-[var(--color-gray-100)] text-[var(--color-primary-red-500)];
    }

  }

  .rbc-show-more {
    @apply text-right font-medium text-xs text-[var(--color-gray-500)] float-right mr-2;
  }
}

// 이벤트 타입별 배경색
.event-item {
  @apply flex items-center gap-1 rounded rounded-xs pl-1 pr-1 pt-0 pb-0 text-[var(--color-gray-900)] h-5;
  
  .event-title {
    @apply font-bold;
  }

  .event-author {
    @apply font-medium text-[var(--color-gray-900)];
  }

  &.event-default {
    @apply bg-[var(--color-gray-300)];
  }

  &.event-vacation {
    @apply bg-[var(--color-primary-blue-150)];
    
    .event-title {
      @apply text-[var(--color-primary-blue-500)];
    }

  }
  
  &.event-half-day {
    @apply bg-[var(--color-primary-purple-150)];
    
    .event-title {
      @apply text-[var(--color-primary-pink-500)];
    }

  }
  
  &.event-half-half-day {
    @apply bg-[var(--color-primary-purple-150)];
    
    .event-title {
      @apply text-[var(--color-primary-purple-500)];
    }

  }
  
  &.event-external {
    @apply bg-[var(--color-primary-yellow-150)];
    
    .event-title {
      @apply text-[var(--color-primary-orange-600)];
    }
  }
}


// 공휴일 표시 관련
.day-weekend {
  @apply text-[var(--color-primary-blue-500)];
}
.day-holiday {
  @apply text-[var(--negative-base)];
}
.holiday-title {
  @apply text-[var(--negative-base)];
}
.rbc-off-range {
  .day-number, .holiday-title {
    @apply text-[var(--color-gray-500)];
  }
}

// 자체 모달

.rbc-overlay {
  @apply bg-[var(--color-white)] border border-[var(--color-gray-300)] rounded-lg shadow-lg p-4 min-w-80;
}
.rbc-overlay-header {
  @apply m-0 p-0 pb-3 mb-3;
}


// 멀티 셀렉트
.multi-select {
  @apply min-w-[120px] max-w-[150px];
}